@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

html {
    font-size: 14px;
}

html, body, footer, header {
    background-color: #edede9;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home {
    font-weight: bold;
}

.nav-link:hover {
    transform: scale(1.1);
}

.col-sm-2, .col-sm-10 {
    padding: 10px;
}

.home-image {
    width: 80vw;
}

h1, .nav-item, .table th {
    font-family: "DM Serif Text";
}