@page
@model MegaDeskRazorPages.Pages.Quotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<style>
    #wrapper { max-width: 500px; min-width: 450px;  margin: 30px auto;}

    .formWrap {border: solid black 2px; border-radius: 8px; padding: 15px; width: 100%;}
    .addRow { display: flex; padding: 5px 0; }
    .column { padding: 0 5px;}
    .third { width: 33%;}
    .half { width: 50%;}
    .twoThird {width: 75%;}

    .buttonWrap {margin: 30px auto 0 auto; width: 500px;display: flex; justify-content: space-around;}
    .addButton { background: #000000; border-radius: 8px; color: #ffffff; height: 40px; width: 120px; text-align: center;}
    .addButton:hover {background: #333333;}
    .buttonWrap a { text-decoration: none; line-height: 40px;}
</style>

<h1>Add Quote</h1>
<hr/>
<div id="wrapper">
<h5>Please fill the form below</h5>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="formWrap">
                <div class="addRow">
                    <div class="form-group column twoThird " id="custName">
                        <label asp-for="Quote.CustName" class="control-label"></label>
                        <input asp-for="Quote.CustName" class="form-control" />
                        <span asp-validation-for="Quote.CustName" class="text-danger"></span>
                    </div>
                    <div class="form-group column third" id="quoteDate">
                        <label asp-for="Quote.QuoteDate" class="control-label"></label>
                        <input asp-for="Quote.QuoteDate" class="form-control" />
                        <span asp-validation-for="Quote.QuoteDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="addRow">
                    <div class="form-group column third" id="width">
                        <label asp-for="Quote.Width" class="control-label"></label>
                        <input asp-for="Quote.Width" class="form-control" />
                        <span asp-validation-for="Quote.Width" class="text-danger"></span>
                    </div>
                    <div class="form-group column third" id="depth">
                        <label asp-for="Quote.Depth" class="control-label"></label>
                        <input asp-for="Quote.Depth" class="form-control" />
                        <span asp-validation-for="Quote.Depth" class="text-danger"></span>
                    </div>
                    <div class="form-group column third" id="drawers">
                        <label asp-for="Quote.Drawers" class="control-label"></label>
                        <input asp-for="Quote.Drawers" class="form-control" />
                        <span asp-validation-for="Quote.Drawers" class="text-danger"></span>
                    </div>
                </div>
                <div class="addRow">
                    <div class="form-group column twoThird" id="material">
                        <label asp-for="Quote.Material" class="control-label"></label>
                        <input asp-for="Quote.Material" class="form-control" />
                        <span asp-validation-for="Quote.Material" class="text-danger"></span>
                    </div>
                </div>
                <div class="addRow">
                    <div class="form-group column half" id="rush">
                        <label asp-for="Quote.Rush" class="control-label"></label>
                        <input asp-for="Quote.Rush" class="form-control" />
                        <span asp-validation-for="Quote.Rush" class="text-danger"></span>
                    </div>
                    <div class="form-group column half" id="total">
                        <label asp-for="Quote.Total" class="control-label"></label>
                        <input asp-for="Quote.Total" class="form-control" />
                        <span asp-validation-for="Quote.Total" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="buttonWrap">
                <div class="form-group" id="submit">
                    <input type="submit" value="Create" class="addButton" />
                </div>
                <div id="back">
                    <a class="" asp-page="Index"><div class="addButton">Back to List</div></a>
                </div>
            </div>
            
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
