@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div >
    <h1 class="display-4 text-center">Welcome to the Sacrament Meeting Planner</h1>
    <br />
    <p>
        When the Church was organized in 1830, revelation to Joseph Smith directed “that the church meet together oft to partake bread and wine in Remembrance of the Lord Jesus” and also set forth that it was the duty of the elders and priests to administer the sacrament as described in the Book of Mormon. Accordingly, the sacrament was provided at the founding meeting of the Church on April 6, 1830—a Tuesday—in the home of Peter Whitmer Sr. in Fayette Township, New York.

        It was not clear at that time where or how often the Latter-day Saints should meet together, nor was it clear when and exactly how they should administer the sacrament. Since that first meeting, the ways Latter-day Saints have fulfilled the commandment to meet together to receive the sacrament have varied depending on their circumstances and guidance by Church leaders.
    </p>
    <br />
    <h4>Weekly Meetings</h4>
    <p>
        Though most American Protestants in the 19th century valued the Sabbath, not all attended church. Some denominations, such as Presbyterians and Congregationalists, typically met on Sundays in chapels. Others, such as Methodists, Baptists, or those who remained unaffiliated with a particular sect, often worshipped informally in their own homes, attended small group meetings, or participated in large outdoor revivals when they happened to take place.

        The earliest Saints did not have chapels, so they met to worship, preach, and sing when and where they could. At first, they did not administer the sacrament weekly, but did so on occasions like the Church’s quarterly conferences and confirmation meetings. Latter-day Saint records first mention weekly sacrament observance in August 1831, when a revelation taught that Saints “whose feet stand upon the land of Zion”—meaning Independence, Missouri—should “go to the house of prayer and offer up thy sacraments upon my holy day.”4 While anticipating the building of a house of worship, however, they continued to meet in small groups as occasion permitted.

        With the completion of the Kirtland Temple in 1836, Latter-day Saints offered the sacrament weekly. This took place during two Sunday meetings that were open to the entire community—one before lunch and one after lunch in the afternoon. In Nauvoo, the Saints met together in citywide outdoor gatherings on the Sabbath, often with several thousand Saints in attendance.7 In smaller branches, missionaries and members met regularly in homes for prayer meetings, preaching meetings, and to take the sacrament. These meetings were often held on the Sabbath but sometimes took place during the week.

        As circumstances changed, the Saints adapted their worship service styles. The meetinghouses built in Utah during Brigham Young’s lifetime could not accommodate everyone at the same time. Adults typically met in these buildings on Sundays; youth and children often took the sacrament at auxiliary meetings during the week. For most of the 19th century, fast and testimony meetings were held on the first Thursday of each month. As more meetinghouses were constructed and ward sizes were changed to match meetinghouse capacities, Saints of all ages were able to meet together each Sunday.

        In 1980, to reduce travel time for members, Church leaders consolidated each ward’s sacrament, Sunday School, and quorum and auxiliary meetings into a three-hour block of time on the Sabbath. Where circumstances have required, these Sabbath meetings have been provided on a different day of the week than Sunday. For instance, the Church has observed the Sabbath on Friday or Saturday in the Middle East and held branch meetings on multiple days of the week in Hong Kong to give international workers the opportunity to participate in sacrament services.
    </p>
    <br />
    <h4>The Sacrament</h4>
    <p>
        As Joseph went to procure wine for use in administering the sacrament at a meeting in August 1830, he was met by a heavenly messenger and instructed to use only wine made locally by Church members for the sacrament. The Lord further taught in this revelation that “it mattereth not what ye shall eat or what ye shall drink when ye partake of the sacrament if it so be that you do it with an eye single to my glory.” In keeping with this revelation, early Saints used wine they had made for the ordinance: for example, Elizabeth Ann Whitney, the wife of bishop Newel K. Whitney, offered her homemade red currant wine for the sacrament in Kirtland.13 Sacramental wine was increasingly replaced with water over the course of the 19th century.

        The amount of bread used for sacrament services has also varied over time. On special occasions such as temple dedications during the 19th century, Saints sometimes ate bread and drank wine or water until they were full, as described in 3 Nephi. Nancy Naomi Alexander Tracy recollected how, in celebration of the Kirtland Temple dedication, the elders “went from house to house, blessing the Saints and administering the sacrament. Feasts were given. Three families joined together and held one at our house. We baked a lot of bread.”

        In the early Church, adult men typically blessed the sacrament and women provided bread, wine, and table linens. In the 1870s Church leaders began ordaining teenage boys to offices in the Aaronic Priesthood, and young teachers and deacons were assigned the task of distributing the sacramental emblems to the congregation. Bishopric members and other adult priesthood holders continued to officiate at the sacrament table until the early 1900s, when young priests—in addition to adult priesthood holders—began blessing the bread and water.17 In 1950, Church leaders recommended that teachers be given the responsibility of preparing the sacrament table.
    </p>
    <p>Learn about Sacrament Meeting <a href="https://www.churchofjesuschrist.org/study/history/topics/sacrament-meetings?lang=eng">here</a>.</p>
</div>
